<!-- login.component.html -->

<div class="login-container">
    <nz-card [nzTitle]="'Login'" [nzBordered]="false" style="width: 400px; margin: 0 auto; padding: 20px;">
      <form nz-form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <!-- Username -->
        <nz-form-item>
          <nz-form-label [nzFor]="'username'" nzRequired>Username</nz-form-label>
          <nz-form-control>
            <input nz-input id="username" formControlName="username" placeholder="Enter your username" />
          </nz-form-control>
        </nz-form-item>
  
        <!-- Password -->
        <nz-form-item>
          <nz-form-label [nzFor]="'password'" nzRequired>Password</nz-form-label>
          <nz-form-control>
            <input nz-input type="password" id="password" formControlName="password" placeholder="Enter your password" />
          </nz-form-control>
        </nz-form-item>
  
        <!-- Submit Button -->
        <nz-form-item>
          <nz-form-control>
            <button nz-button [nzType]="'primary'" [disabled]="loginForm.invalid">Login</button>
          </nz-form-control>
          <nz-form-control>
            <button nz-button [nzType]="'default'" [disabled]="loginForm.valid">Registrati</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
  